{% extends 'index/base.html' %}


{% block content %}

{% load cart %}

<div class="container border rounded shadow " style="margin-top: 4.7%; background-color: #fff;">
  <p class="display-4 mt-4 ">Your Cart Item</p>
  <div class="tableFixHead">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>

        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td scope="row">{{forloop.counter}}</td>
          <td scope="row"><img src="{{product.imageURL}}" class="img-fluid" style="width: 70px;" alt="..."></td>
          <td>{{product.name}}</td>
          <td>&#8377; {{product.price}}</td>
          <td>{{product|cart_quantity:request.session.cart}}</td>
          <td>&#8377; {{product|price_total:request.session.cart}}</td>
        </tr>
        {% endfor %}

      </tbody>
      <tfoot>
        <tr>
          <th colspan="4"></th>
          <th colspan="">Total</th>
          <th>&#8377; {{products|totel_cart_price:request.session.cart}}</th>
        </tr>

      </tfoot>

    </table>
  </div>
  <hr>
  <div class="m-3 p-3 overflow-hidden">
    <a href="#" data-toggle="modal" data-target="#exampleModal"
      class="btn btn-outline-dark  border rounded col-4 float-right bg_Image">Checkout</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check out form </h5>
        <hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
          <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Address</label>
              <input type="text" name="address" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Phone</label>
              <input type="text" name="phone" class="form-control" id="exampleInputPassword1">
            </div>

            <button class="btn btn-outline-dark float-right bg_Image">Checkout</button>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}